<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CM3104 Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <header>
      <h1>CM3104 Digital Signature Prototype</h1>
      <hr>
    </header>

    <table>
      <tr>
        <th>Upload a Prescription to be Digitally Signed</th>
        <th>or</th>
        <th>Verify an Existing Digital Signature</th>
      </tr>
      <tr>
        <td>
            <form action="/output" method = "POST" enctype="multipart/form-data">   
              <table>
                <tr>
                  <td><label for="file"><b>File:</b></label></td>
                  <td><input type="file" name="file" required /></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" value="Upload"></td>
                </tr>
              </table>
            </form>
        </td>
        <td>&emsp;</td>
        <td>
          <form action="/verify" method = "POST" enctype="multipart/form-data">   
            <table>
              <tr>
                <td><label for="signature"><b>Digital Signature:</b></label></td>
                <td><input type="file" name="signature" required /></td>
              </tr>
              <tr>
                <td><label for="key"><b>Public Key:</b></label></td>
                <td><input type="file" name="key" required /></td>
              </tr>
              <tr>
                <td><label for="file"><b>File:</b></label></td>
                <td><input type="file" name="file" required /></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Upload"></td>
              </tr>
            </table>
          </form>
        </td>
      </tr>
    </table>

  </body>

</html>
