<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CM3104 Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <header>
      <a href="{{ url_for('index') }}"><h1>CM3104 Digital Signature Prototype</h1></a>
      <hr>
    </header>

    <table>
      <tr>
        <th>Digital Signature Download</th>
        <th>&emsp;</th>
        <th>Public Key Download</th>
        </tr>
        <tr>
          <td><textarea>{{ signature }}</textarea></td>
          <td>&emsp;</td>
          <td><textarea>{{ key }}</textarea></td>
        </tr>
        <tr>
          <td>
            <a href="{{ url_for('static', filename='files/signature.txt') }}" download="signature.txt">
              <button>Download the Digital Signature</button>
            </a>
          </td>
          <td>&emsp;</td>
          <td>
            <a href="{{ url_for('static', filename='files/key.der') }}" download="key.der">
              <button>Download the Public Key</button>
            </a>
          </td>
        </tr>
    </table>

  </body>

</html>